<div class="contener-fluid bg-white content_categories">
  <div class="row-fluid">
    <h5 class="title_box_categories center"> Categorias e Especialidades </h5>

    <div class="row-fluid row_categories">
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/audio.png") %>
        <h6 class="category-title">Audio, foto e vídeo</h6> 
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/class.png") %>
        <h6 class="category-title">Aulas</h6>
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/auto.png") %>
        <h6 class="category-title">Automóveis e Transporte</h6>
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/consulting.png") %>
        <h6 class="category-title">Consultoria Pesquisas e Reservas</h6>
      </div>
    </div>

    <div class="row-fluid row_categories">
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/design.png") %>
        <h6 class="category-title">Desing e Impressão</h6> 
      </div>
      <div class="span3 box_catogorie center">
        <%= image_tag("/icons/categories/documents.png") %>
        <h6 class="category-title">Documentos</h6>
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/party.png") %>
        <h6 class="category-title">Eventos e Festas</h6>
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/fashion.png") %>
        <h6 class="category-title">Moda e Estética</h6>
      </div>
    </div>

    <div class="row-fluid row_categories">
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/others.png") %>
        <h6 class="category-title">Outros</h6> 
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/pet.png") %>
        <h6 class="category-title">Para o Lar e animais de estimação</h6>
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/building.jpg") %>
        <h6 class="category-title">Reformas e Reparos</h6>
      </div>
      <div class="span3 box_catogories center">
        <%= image_tag("/icons/categories/tech.png") %>
        <h6 class="category-title">Tecnologia e Internet</h6>
      </div>
    </div>

  </div>
</div>