<% @profiles.each do |profile| %>
  <div class="span12 bg-silver box-result-search">
      <h4> <%=profile.name %> ( <%=profile.nickname %> ) </h4>
      <b><%= t('profile.phone') %></b> <%= profile.phone %>
      <b><%= t('profile.cell_phone') %></b> <%= profile.cell_phone %><br/>
      <b><%= t('profile.kind') %></b> <%= profile.kind %> <br />
      <%=link_to 'Ver perfil', searches_profile_path(profile) %>
  </div>
<%end%>

