<!DOCTYPE html>
<html>
<head>
  <title>AutoNoMapa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body-color">
<%=render "layouts/head"%>

<div class="container-fluid bg-silver">
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span9">
      <%= render "searches_profiles/form_search" %>
    </div>
  </div>
</div>

<div class="container-fluid bg-white">
    <div class="row-fluid">
      <div class="span12 padding3">
        <%=flash[:notice]%>
        <%= yield %>
      </div>
    </div>
</div>

<%=render "layouts/footer"%>
</body>
</html>
